name: sysctls-test

services:
  router:
    image: docker.io/library/nginx:alpine
    sysctls:
      net.ipv4.ip_forward: "1"
      net.core.somaxconn: "1024"
    restart: unless-stopped

  database:
    image: docker.io/library/postgres:15-alpine
    sysctls:
      kernel.shmmax: "68719476736"
      kernel.shmall: "4294967296"
      net.ipv4.tcp_keepalive_time: "600"
      net.ipv4.tcp_keepalive_intvl: "60"
    environment:
      POSTGRES_PASSWORD: example
    restart: unless-stopped
