version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      go-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/site"
    schedule:
      interval: "weekly"
    groups:
      go-site-dependencies:
        patterns:
          - "*"
