services:
  webapp:
    image: docker.io/library/wordpress:latest
    ports:
      - target: 80
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - wp-content:/var/www/html/wp-content
    environment:
      - WORDPRESS_DB_HOST=db  # Uses NetworkAlias for simple service name access
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=wp_user
    secrets:
    - db-password
    x-podman-env-secrets:
      db-password: WORDPRESS_DB_PASSWORD  # Available as $WORDPRESS_DB_PASSWORD
    depends_on:
      - db
    restart: always
    networks:
      - app-network

  db:
    image: docker.io/library/mariadb:latest
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wp_user
      - MYSQL_ROOT_PASSWORD=root_password
    secrets:
    - db-password
    x-podman-env-secrets:
      db-password: MYSQL_PASSWORD  # Available as $MYSQL_PASSWORD
    restart: always
    networks:
      - app-network

volumes:
  wp-content:
  db-data:

networks:
  app-network:

secrets:
  db-password:
    external: true # create this secret in podman
